.carrusel1{
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .imgCarrusel {
    width: 45%;
    .image1 {
      background-image: url("../../img/carousel_1.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 50vh;
    }
    .image2 {
      background-image: url("../../img/carousel_3.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 50vh;
    }
    .image3 {
      background-image: url("../../img/carousel_2.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 50vh;
    }
    .image4 {
      background-image: url("../../img/carousel_4.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 50vh;
    }
  }
}

.carrusel2{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .senCarrusel {
    justify-content: center;
    text-align: center;
    width: 50%;
    font-weight: bold;
    border-bottom: solid 0.3em #1f6f8b;
  }
}



.header {
  background-color: #d0e8f2;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imgLogo{
  width: 20em;
  margin-left: 2em;
}


.header-top {
  display: flex;
  margin-top: 2em;
  width: 83.6%;
  height: 8em;
  margin-left: 8em;
  border-bottom: solid 0.3em #1f6f8b;
    .header-top-buttons {
      position:absolute; 
      right:10em;
      display: flex;
      flex-direction: row;
      margin-top:4em;
      .hole-firstview{
        width: 1.5em;
      }
      .general-button{
        border: none;
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        color:  #11537A;
        background-color:#a5c4c7;
        cursor: pointer;
        border-radius: 0.6em;
        padding: 0.3em;
        &:hover{
        background-color: #11537A;
        color: #3EB6C2;
      }
      }
    }
  }

  
