
.header2 {
  background-color: #d0e8f2;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.imgLogoHeader{
  width: 10em;
}

.header2-top {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  width: 83.6%;
  height: 5em;
  margin-left: 8em;
  border-bottom: solid 0.3em #1f6f8b;
    .header-top-buttons {
      position:absolute;
      display: flex;
      flex-direction: row;
      right:10em;
      margin-top: 1em;
      .hole-header{
        width: 1.5em;
      }
      .general-button{
        border: none;
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        color:  #11537A;
        background-color:#a5c4c7;
        cursor: pointer;
        border-radius: 0.6em;
        padding: 0.3em;
        &:hover{
        background-color: #11537A;
        color: #3EB6C2;
      }
      }
    }
  }