  
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
  display: inline;
  text-align: center;
  background-color: #d0e8f2;
  font-size: 1em;

  .footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .footerLogo{
      margin-left: 8em;
      display: flex;
      width: 50%;
      justify-content: flex-start;
      align-content: flex-start;
    }

    .footerContent{
      display: flex;
      width: 50%;
      justify-content: flex-end;
      margin-right: 8em;
      a{
        text-decoration: none;
        color: #1F6F8B;
      }
      .linkedin{
        height: 1em;
      }
    }
  }
}