.form-log-reg{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.input{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
  width: 15em;
  background-color: #F5F5F5;
  border: #ADF6F5 solid 1px;
}

.button-log-reg{
  text-align: center;
  font-size: 1.2em;
}
